<!-- INÍCIO DO CONTEÚDO -->
      <section class="content-header">
        <h1>Sobre</h1>
      </section>

      <section class="content">
          <p class="lead">
            D-All | Aplicação beta
          </p>
          <p class="lead">
            asdf
          </p>
          <p class="lead">Acima de tudo, é fundamental ressaltar que a complexidade dos estudos efetuados talvez venha a ressaltar a relatividade dos métodos utilizados na avaliação de resultados.</p>
        
        </section>
    <!-- FIM DO CONTEÚDO -->
